.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .nav-links li {
    margin: 1rem;
   
    
  }
  
  .nav-links a {
    color: #7d5e5e;
    text-decoration: none;
    padding: 0.5rem;
    
    
  }
  
  
  .nav-links a:hover,
  .nav-links a:active,
  .nav-links a.active {
    color: #292929;
  }
  
  @media (min-width: 768px) {
    .nav-links {
      flex-direction: row;
    }
    
    .nav-links li {
      margin: 0 0.5rem;
      
      text-shadow: -1px 0px rgba(255, 255, 255, 0.5), 0px 1px rgba(255, 255, 255, 0.5), 1px 0px rgba(255, 255, 255, 0.5), 0px -1px rgba(255, 255, 255, 0.5);
    }
  
    .nav-links a {
      color: #7d5e5e;
      text-decoration: none;
      text-shadow: -1px 0px rgba(255, 255, 255, 0.5), 0px 1px rgba(255, 255, 255, 0.5), 1px 0px rgba(255, 255, 255, 0.5), 0px -1px rgba(255, 255, 255, 0.5);
    }

  }

.empty{
  border-left: 50%;
}

.LOGO{
  width : 100px;
  margin-right: 100px;
  position: absolute;
  top: 8%;
  left: 2%;
  }

.LOGO2{
  width : 100px;
  position: absolute;
  top: 30%;
  right: 2%;
}

.search{
  padding-left: 0;
}
.righticons{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20%;
  right: 2%;
  margin-right: 10px;
}
.righticons2{
  display: flex;
  flex-direction: row;
  top: 15%;
  right: 2%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.Loginbutton{
    font-size: 90%;
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    display: block;
    float: left;
    width: 80px;
    padding: 0;
    font-weight: 600;
    text-align: center;
    line-height: 21px;
    color: rgb(0, 0, 0);
    background-color: rgba(240, 248, 255, 0.089);
    border-radius: 5px;
    border-style: solid;
    border-color:black;
    
}

.container {
  display: flex;
  align-items: center;
}
